@model geo5.Models.place

    <body>
        <div id="street-view">
            <div class="d-flex justify-content-center">
                <div style="margin-top:400px" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div id="floatingpanel" style="width:380px; height:110px; display:none;">
                <div style="margin-top:-10px; height:320px; width:430px" id="map"></div>
                <button id="guessButton" style="margin-top:5px; margin-left:-5px" class="btn btn-light"> Submit </button>
                <button id="startingPosButton" style="margin-top:5px; margin-left:10px" class="btn btn-light"><i class="fas fa-flag"></i></button>
                <button style="margin-top:5px; margin-left:10px" type="button" class="btn btn-secondary" disabled>Famous</button>
                <button style="margin-top:5px; margin-left:10px" type="button" class="btn btn-secondary" disabled>Round @Model.currentRound/5</button>
            </div>
        </div>
    </body>

@section Scripts{
    <script type="text/javascript">
        var latToSend
        var lngToSend

        function initialize() {
            var location = { lat: 42.995640, lng: -71.454788 };
       
            var panorama = new google.maps.StreetViewPanorama(document.getElementById("street-view"), {
                position: { lat: @Model.lat, lng: @Model.lng},
                pov: { heading: 165, pitch: 0 },
                zoom: 1,
                fullscreenControl: false,
                showRoadLabels: false,
                linksControl: false,
                addressControl: false
            });
        
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 1,
                center: location,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: location
            });   
            
            google.maps.event.addListener(marker, 'dragend', function (event) {
                latToSend = marker.getPosition().lat();
                lngToSend = marker.getPosition().lng();
            });


            setTimeout(function(){
                var panel = document.getElementById('floatingpanel');
                panel.style.display = 'block'; //shows maps and buttons
            }, 10);
        }
    
        $(function () {
            $("#guessButton").click(function () {   
                location.href = '@Url.Action("PostSubmissionFamous", "Home")?subLat='+latToSend+'&subLng='+lngToSend;
            });
        });

        $(function () {
            $("#startingPosButton").click(function () {
                panorama.setPosition({ lat: @Model.lat, lng: @Model.lng });
            });
        });

    </script>
}