@model geo5.Models.userLogin

<body>
    
    <div class="card" style="margin-top:150px;margin-left:300px;margin-right:300px">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
            @using (Html.BeginForm(new { htmlAttributes = new { @class = "form-horizontal m-t-20" } }))
            {
                @Html.AntiForgeryToken()
                <div class="row mb-3">
                    <div class="col-md-3">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="form-floating mb-3 mb-md-0">
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="form-floating mb-3 mb-md-0">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="mt-4 mb-0">
                    <button type="submit" value="Login" class="btn btn-primary btn-block">Login</button>
                </div>
            }
        </div>
    </div>
    

</body>
